footer {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: black;
    font-size: smaller;
    text-align: center;
    bottom: 0%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

h4 {
    color: white;
    font-family: 'Major Mono Display', monospace;  
    text-align: center;
}