.work-header {
  text-align: center;
  align-items: center;
}

.ongoingwork {
  font-size: 400%;
  padding-bottom: 100px;
}

.book-covers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 50px;
  padding: 20px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px;
}

.book-cover {
  border: 1px white solid;
  background-image: linear-gradient(180deg, black, #915f6d);
  text-align: center;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

h2 {
  font-family: 'Spline Sans Mono', monospace;
  padding-bottom: 120px;
  padding-top: 120px;
}

.trash {
  width: 40px;
  width: 40px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.deleteBttn {
  padding-top: 5px;
  padding-bottom: 5px;
}
