
.work-header {
    text-align: center;
    align-items: center;
}

.ongoingwork {
    font-size: 400%;
    margin-bottom: 5%;
}

.book-covers {
    text-align: center; 
    padding: 20px;
}

.book-cover {
    border: 1px solid white;
    text-align: center;
    width: 200px;
    height: 300px;
    display: inline-block; 
    vertical-align: top; 
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

h2 {
    font-family: 'Spline Sans Mono', monospace;
}