form {
    text-align: center;
}

input, label {
    display: block;
    margin: 0 auto;
}

input {
    text-align: center;
    border-radius: 7px;
    width: 700px;
    height: 200px;
}

label {
    color: white;
    margin-right: 10px;
    font-size: larger;
    font-family: 'Spline Sans Mono', monospace;
    margin: 10px;
}

.step2Title {
    text-align: center;
}

.step2Title h1 {
    font-size: 400%;
}

.promptarea {
    margin: 40px 100px 80px 100px;
}

.nextstep {
    margin-bottom: 100px;
}
