.step3Title {
  text-align: center;
}

.step3Title h1 {
  font-size: 400%;
}

.tostep4 {
  margin-top: 40px;
}

@media screen and (max-width: 750px) {
  .step3Title h1 {
    font-size: 300%;
  }

  .steps {
    width: 450px;
    font-size: 16px;
  }

  .promptarea {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 480px) {
  .step3Title h1 {
    font-size: 250%;
  }

  .steps {
    width: 350px;
    font-size: 14px;
  }

  .promptarea {
    margin-left: 25px;
    margin-right: 25px;
  }
}
