.full-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.writing {
  text-align: center;
  font-size: 400%;
}

.submit {
  width: 150px;
}

.texteditor {
  margin-left: 30px;
}

/* Previous Step Cards */
.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: flex-start;
}

.card {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  font-family: 'Spline Sans Mono', monospace;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  overflow-y: auto;
}

.card p {
  margin: 5px 0;
}

/* Story Title */
.userTitle {
  background-color: transparent;
  border: none;
  font-size: 50px;
  text-align: center;
  width: 90%;
  height: 50px;
  font-family: 'Spline Sans Mono', monospace;
  color: white;
  margin-bottom: 12px;
}

.userTitle:focus {
  outline: none;
}

.userTitle:focus::placeholder {
  color: transparent;
}

/* Media Queries */

@media screen and (max-width: 1500px) {
  .texteditor {
    max-width: 760px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1150px) {
  .full-container {
    flex-direction: column;
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    height: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .writing {
    font-size: 300%;
  }

  .userTitle {
    font-size: 36px;
  }

  .texteditor {
    max-width: 600px;
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .texteditor {
    max-width: 475px;
  }
}

@media screen and (max-width: 480px) {
  .texteditor {
    max-width: 380px;
  }

  .writing {
    font-size: 250%;
  }

  .userTitle {
    font-size: 25px;
  }
}
