.full-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  

  .writing {
    text-align: center;
    font-size: 400%;
  }
  
 
  .submit {
    width: 150px;
  }
  
  .texteditor {
    margin-left: 30px;
  }
  
  /* Previous Step Cards */
  .card-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: flex-start; 
  }
  
  .card {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    margin: 20px;
    padding: 10px; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    font-family: 'Spline Sans Mono', monospace;
    white-space: normal;
    overflow: hidden; 
    word-wrap: break-word; 
    overflow-y: auto; 
  }

  .card p {
    margin: 5px 0;
  }
  
  /* Story Title */
  .userTitle {
    background-color: transparent;
    border: none;
    font-size: 50px;
    text-align: center;
    width: 1155px;
    height: 50px;
    font-family: 'Spline Sans Mono', monospace;
    color: white;
    margin-bottom: 12px;
  }
  
  .userTitle:focus {
    outline: none;
  }
  
  .userTitle:focus::placeholder {
    color: transparent;
  }

  /* Media Queries */

  @media only screen and (max-width: 768px) {
    .full-container {
      flex-direction: column;
    }

    .texteditor {
      max-width: 700px;
      padding-left: 20px !important;
    }
  }
